__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.build/
dist/
.cache/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

.venv/
venv/
ENV/
pip-wheel-metadata/

.env
.env.*
instance/
*.db
*.sqlite*
.vscode/
.idea/
.DS_Store
Thumbs.db

!.env.example
